/* application/views/pasien/create.php dan application/views/pasien/edit.php */
h1{
text-align: center;
margin-left: 30px;
    
}
body {
    display: flex;
    justify-content: center; /* Mengatur konten utama di tengah horizontal */
    align-items: center; /* Mengatur konten utama di tengah vertikal */
    height: 100vh; /* Mengisi tinggi seluruh viewport */
    margin: 0; /* Menghapus margin bawaan browser */
}



form {
    width: 100%;
    max-width: 600px; /* Lebar maksimum form */
    background: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

form input[type="text"],
form input[type="number"],
form textarea {
    width: calc(100% - 16px); /* Menghitung lebar input dengan padding */
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    font-size: 16px;
}

form textarea {
    height: 100px; /* Tinggi textarea */
}

form input[type="submit"] {
    background-color: #007bff; /* Warna latar belakang tombol */
    color: #fff; /* Warna teks tombol */
    border: none;
    padding: 10px 20px; /* Padding tombol */
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #0056b3; /* Warna latar belakang tombol saat hover */
}

.error {
    color: red; /* Warna teks error */
    font-size: 14px;
    margin-top: 5px; /* Jarak atas dari teks error */
}


label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="text"], input[type="number"], textarea {
    width: calc(100% - 16px);
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    font-size: 16px;
}

textarea {
    height: 100px;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

